node_modules/
npm-debug.log
lerna-debug.log

/.changelog/
/packages/*/cjs/
/packages/*/esm/
/packages/*/umd/
/packages/*/lib/
/packages/*/es/
/packages/*/dist/
/website/build/
/packages/*/types/
/packages/*/package-lock.json
/packages/*/yarn.lock
/packages/*/yarn-error.log

/website-deploy-key
/website-deploy-key.pub

/es
/lib/bench/report/
/lib/docs/public/
/node_modules/
/npm-debug.log
/lib/test/bundle.js
/tmp
/bower_components/
/dist/gh-pages/
/tmp-test-bundle.js
/coverage/
.DS_Store
/yarn.lock
/.history
.idea/
/.vscode
package-lock.json
yarn-error.log

packages/*/tsconfig.es.tsbuildinfo
packages/*/tsconfig.type.tsbuildinfo
